<footer class="custom-footer mt-5">
    <div class="container py-5">
        <div class="row">
            <!-- Logo / About -->
            <div class="col-lg-3 mb-4">
                <div class="logo-footer">
                    <a href="/">
                        <img src="/assets/img/LOGO FOOTER.svg" alt="Logo Footer" style="width:150px; display:block; margin-bottom:20px;">
                    </a>
                </div>
                <div class="social-icons">
                    <div class="fb-icon">
                        <a href="https://www.facebook.com/djvitsolution" target="_blank">
                            <i class="bi bi-facebook social-fb" aria-label="DJV FB"></i>
                        </a>
                    </div>
                    <div class="ig-icon">
                        <a href="https://www.instagram.com/djvitsolutions/" target="_blank">
                            <i class="bi bi-instagram social-ig" aria-label="DJV IG"></i>
                        </a>
                    </div>
                    <div class="tiktok-icon">
                        <a href="https://www.tiktok.com/@djvitsolutions" target="_blank">
                            <i class="bi bi-tiktok social-tiktok" aria-label="DJV tiktok"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Company -->
            <div class="col-6 col-lg-2 mb-4">
                <h6>Company</h6>
                <ul class="footer-links">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/about">Careers</a></li>
                    <li><a href="/about">Our Team</a></li>
                </ul>
            </div>

            <!-- Support -->
            <div class="col-6 col-lg-2 mb-4">
                <h6>Support</h6>
                <ul class="footer-links">
                    <li><a href="/services">Help Center</a></li>
                    <li><a href="/services">Technical Support</a></li>
                    <li><a href="/services">Submit Ticket</a></li>
                </ul>
            </div>

            <!-- Legal -->
            <div class="col-6 col-lg-2 mb-4">
                <h6>Legal</h6>
                <ul class="footer-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Cookies</a></li>
                </ul>
            </div>

            <!-- Contact -->
            <div class="col-6 col-lg-3 mb-4">
                <h6>Contact</h6>
                <ul class="footer-links">
                    <li>
                        <i class="bi bi-telephone-fill ph-icon">
                        <a href="tel:046-514-1914"></i>(046)-514-1914</a>
                    </li>
                    <li>
                        <i class="bi bi-envelope-fill env-icon"></i>
                        <a href="mailto:marketing@djvitsolutions.com">marketing@djvitsolutions.com<br>
                    </li>
                    <li><i class="bi bi-geo-alt add-icon"></i><a href="https://maps.app.goo.gl/gtXWPuGnaTit2KGC9">Brgy, Arnaldo Hwy, Manggahan, General Trias, 4107 Cavite</a>
                    </li>
                </ul>
            </div>

            <!-- /*=============ReignierDahunog2026==============*/ -->

        </div>
        <div class="text-center footer-bottom">
            © 2026 DJV IT Solutions. All rights reserved.
        </div>

    </div>