<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/ICON_FINAL.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            DJV IT Solutions
        </a>
    </div>
</nav>
<!-- <nav class="navbar"> -->
    <!-- <div class="brand">
        <img src="/assets/img/ICON_FINAL.png" class="logo" alt="DJV Logo">
        <img src="/assets/img/Dark-Text-Logo.png" class="brand-text" alt="DJV IT Solutions">
    </div> -->
    <!-- Hamburger Menu -->
    <!-- <div class="menu-toggle">&#9776;</div>
    <ul class="nav-links">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About</a></li>
        <li>
            <button class="inquire-button">Get Tech Support</button>
        </li>
    </ul>
</nav> -->