<!--NAVIGATOR FIXED-->
<nav class="navbar bg-black" data-bs-theme="dark">
    <div class="container-fluid d-flex align-items-center ">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/ICON_FINAL.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> DJV IT Solutions
        </a>
        <div class="d-flex align-items-center link-light">
            <a href="/" class="ms-5 text-reset text-decoration-none">Home</a>
            <a href="/services" class="mx-5 text-reset text-decoration-none">Services</a>
            <a href="/about" class="me-5 text-reset text-decoration-none">About</a>
            <button id="nav-tech-support" type="button" class="btn btn-primary ">Get Tech Support</button>
        </div>
    </div>
</nav>





<!-- <nav class="navbar"> -->
<!-- <div class="brand">
        <img src="/assets/img/ICON_FINAL.png" class="logo" alt="DJV Logo">
        <img src="/assets/img/Dark-Text-Logo.png" class="brand-text" alt="DJV IT Solutions">
    </div> -->
<!-- Hamburger Menu -->
<!-- <div class="menu-toggle">&#9776;</div>
    <ul class="nav-links">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About</a></li>
        <li>
            <button class="inquire-button">Get Tech Support</button>
        </li>
    </ul>
</nav> -->