html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Radio Canada Big", sans-serif;
    background: linear-gradient(to bottom, #0061A9 20%, #0086C5 30%, #2683EB 50%, #ffffff 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    background: black;
    width: 100%;
    padding: 8px 20px;
}


/* BRAND GROUP */

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* LOGO */

.logo {
    height: 42px;
    width: auto;
    display: block;
}


/* BRAND TEXT */

.brand-text {
    height: 26px;
    width: auto;
    /* tweak until it looks right */
    display: block;
}


/* NAV LINKS */

.nav-links {
    list-style: none;
    display: flex;
    gap: 18px;
    align-items: center;
}

.nav-links a:hover {
    color: #2683EB;
}

.nav-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    gap: 18px;
    padding: 6px 6px;
    transition: 0.3s;
}

.social-fb,
.social-ig,
.social-tiktok {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    /* Default color */
    height: 24px;
    width: 24px;
    transition: color 0.3s ease;
}

.social-fb:hover,
.social-ig:hover,
.social-tiktok:hover {
    filter: invert(36%) sepia(99%) saturate(1476%) hue-rotate(186deg) brightness(91%) contrast(101%);
}

.inquire-button {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: "Radio Canada Big", sans-serif;
    font-size: 20px;
    background-color: #90BADA;
    color: #000000;
    width: 100px;
    height: 30px;
    transition: 0.3s;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.inquire-button:hover {
    background: linear-gradient(to bottom, #6dd5ed, #2683EB);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-1px);
}


/* MOBILE */

@media (max-width: 600px) {
    .logo {
        height: 34px;
    }
    .brand-text {
        font-size: 1rem;
    }
}